{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 5%",
            "last 2 versions",
            "chrome >= 62",
            "ie >= 8, "
          ]
        }
      }
    ]
  ]
}